deb {{ local_ubuntu_repository_url }}/ubuntu/mirror/archive.ubuntu.com/ubuntu/ jammy main restricted
deb {{ local_ubuntu_repository_url }}/ubuntu/mirror/archive.ubuntu.com/ubuntu/ jammy-updates main restricted
deb http://archive.ubuntu.com/ubuntu jammy universe
deb http://archive.ubuntu.com/ubuntu jammy-updates universe
deb http://archive.ubuntu.com/ubuntu jammy multiverse
deb http://archive.ubuntu.com/ubuntu jammy-updates multiverse
deb http://archive.ubuntu.com/ubuntu jammy-backports main restricted universe multiverse
deb {{ local_ubuntu_repository_url }}/ubuntu/mirror/security.ubuntu.com/ubuntu/ jammy-security main restricted
deb http://security.ubuntu.com/ubuntu jammy-security universe
deb http://security.ubuntu.com/ubuntu jammy-security multiverse