---
# tasks file for sudoers

# ============================== Отключить ввод sudo пароля для root ===============================

- name: Отключить ввод sudo пароля для root
  become: true
  ansible.builtin.copy:
    dest: /etc/sudoers.d/root
    content: "root ALL=(ALL) NOPASSWD:ALL"
    mode: "0440"

# - name: Отключить ввод sudo пароля для cloud-user
#   become: true
#   when:
#     - "'openstack' in inventory_hostname"
#     - ansible_distribution == "Rocky" or ansible_distribution == "OracleLinux"
#   ansible.builtin.copy:
#     dest: /etc/sudoers.d/cloud-user
#     content: "cloud-user ALL=(ALL) NOPASSWD:ALL"
#     mode: "0440"
