---
# tasks file for ssh-keys

# ========================================== Add SSH keys ==========================================

- name: Создать пустой файл authorized_keys для root
  ansible.builtin.copy:
    content: ""
    dest: /root/.ssh/authorized_keys
    force: true
    group: root
    owner: root
    mode: "0600"

- name: Добавление SSH ключа к пользователю root
  become: true
  ansible.posix.authorized_key:
    user: root
    state: present
    key: "{{ item }}"
  with_file: "{{ ssh_keys }}"

- name: Вывести пользователей с UID >= 1000
  changed_when: false
  ansible.builtin.shell: |
    set -o pipefail
    getent passwd | awk -F: '$3 >= 1000 && $3 < 65534 && $7 !~ /(nologin|false)$/ { print $1 }'
  register: user_list
  args:
    executable: /bin/bash

- name: Показать пользователей
  ansible.builtin.debug:
    var: user_list.stdout_lines

- name: Сформировать пары пользователь-ключ
  ansible.builtin.set_fact:
    user_key_pairs: "{{ user_list.stdout_lines | product(ssh_keys) | list }}"

# - name: Показать пары пользователь-ключ
#   ansible.builtin.debug:
#     var: user_key_pairs

- name: Добавить SSH ключи
  ansible.posix.authorized_key:
    user: "{{ item.0 }}"
    key: "{{ lookup('file', item.1) }}"
    state: present
  loop: "{{ user_key_pairs }}"
