---
# handlers file for chrony

- name: Restart Chrony RedHat
  become: true
  ansible.builtin.systemd_service:
    name: chronyd
    state: restarted
    enabled: true

- name: Restart Chrony Ubuntu
  become: true
  ansible.builtin.systemd_service:
    name: chrony
    state: restarted
    enabled: true
