[Unit]
Description=Kafka Service
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User={{ kafka_username }}
ExecStart=/bin/sh -c '{{ kafka_folder }}/bin/kafka-server-start.sh {{ kafka_folder }}/config/server.properties > /opt/kafka/kafka.log 2>&1'
ExecStop={{ kafka_folder }}/bin/kafka-server-stop.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target