---
# tasks file for ping
- name: Ping my servers
  become: true
  ansible.builtin.ping:

- name: Print current user
  become: true
  ansible.builtin.shell: whoami
  register: results

- name: Print results of current user
  ansible.builtin.debug:
    var: results.stdout
