---
# tasks file for DNS

- name: Block for RedHat
  when:
    - ansible_facts.os_family == "RedHat" or ansible_facts.os_family == "RED"
  become: true
  block:

    - name: Скопировать файл ручной настройки DNS (RedHat)
      become: true
      ansible.builtin.copy:
        src: 90-dns-none.conf
        dest: /etc/NetworkManager/conf.d/90-dns-none.conf
        owner: root
        group: root
        mode: "0644"
      notify:
        - Restart NetworkManager

    - name: Прописать собственные DNS (RedHat)
      become: true
      ansible.builtin.template:
        src: resolv.conf.j2
        dest: /etc/resolv.conf
        owner: root
        group: root
        mode: "0644"
      notify:
        - Restart NetworkManager

- name: Block for Ubuntu
  when:
    - ansible_facts.os_family == "Debian"
  become: true
  block:

    - name: Прописать собственные DNS (Debian)
      become: true
      ansible.builtin.template:
        src: resolved.conf.j2
        dest: /etc/systemd/resolved.conf
        owner: root
        group: root
        mode: "0644"

    - name: Restart systemd-resolved (Debian)
      become: true
      ansible.builtin.systemd:
        state: restarted
        daemon_reload: true
        name: systemd-resolved
