---
# tasks file for chrony

- name: Block for RedHat
  when:
    - ansible_facts.os_family == "RedHat" or ansible_facts.os_family == "RED"
    - ansible_facts.virtualization_type != "lxc"
  become: true
  block:

    - name: Установка chrony RedHat
      ansible.builtin.dnf:
        name:
          - chrony

    - name: Копирование файла chrony.conf
      become: true
      ansible.builtin.template:
        src: chrony-oracle.conf.j2
        dest: /etc/chrony.conf
        owner: root
        group: root
        mode: "0644"
      notify:
        - Restart Chrony RedHat

- name: Block for Ubuntu
  when:
    - ansible_facts.os_family == "Debian"
    - ansible_facts.virtualization_type != "lxc"
  become: true
  block:

    - name: Установка chrony в Ubuntu
      ansible.builtin.apt:
        pkg:
          - chrony

    - name: Копирование файла chrony.conf
      become: true
      ansible.builtin.template:
        src: chrony-ubuntu.conf.j2
        dest: /etc/chrony/chrony.conf
        owner: root
        group: root
        mode: "0644"
      notify:
        - Restart Chrony Ubuntu
