---

# ================================================================
#                      Создать пользователя
# ================================================================

- name: Create user "{{ alloy_username }}"
  ansible.builtin.user:
    name: "{{ alloy_username }}"
    state: present
    shell: /bin/bash
    system: true
    create_home: false
    append: true
    groups: systemd-journal

# ================================================================
#                            Altlinux
# ================================================================

- name: Block for Altlinux
  when: ansible_facts.os_family == "Altlinux"
  become: true
  block:

    # ============================================
    #     Block for Altlinux major version != 8
    # ============================================

    - name: Block for Altlinux 10.4
      when: ansible_facts.ansible_distribution_major_version != "8"
      block:

        # ============================================
        #        Install Alloy from repository
        # ============================================

        - name: Install Alloy in Altlinux
          community.general.apt_rpm:
            pkg:
              - alloy
            state: latest
            update_cache: true
          notify:
            - Start Alloy

        # ============================================
        #   Скопировать alloy.service (Altlinux) repo
        # ============================================

        - name: Создание alloy.service (original)
          ansible.builtin.template:
            src: alloy.service-altlinux-repo.j2
            dest: "/lib/systemd/system/alloy.service"
            owner: root
            group: root
            mode: "0644"
          notify:
            - Restart Alloy Altlinux

    # ============================================
    #     Block for Altlinux major version == 8
    # ============================================

    - name: Block for Altlinux 8
      when: ansible_facts.ansible_distribution_major_version == "8"
      block:

        - name: Создание временной папки "{{ temp_folder }}"
          ansible.builtin.file:
            path: "{{ temp_folder }}"
            state: directory
            owner: root
            group: root
            mode: "0755"

        - name: Скопировать файл alloy-1.7.4-alt1.x86_64.rpm в "{{ temp_folder }}"
          become: true
          ansible.builtin.copy:
            src: alloy-1.7.4-alt1.x86_64.rpm
            dest: "{{ temp_folder }}/alloy-1.7.4-alt1.x86_64.rpm"
            owner: root
            group: root
            mode: "0644"

        - name: Install Alloy in Altlinux from packages
          ansible.builtin.shell: |
            apt-get install -y {{ temp_folder }}/alloy-1.7.4-alt1.x86_64.rpm
          notify:
            - Start Alloy

        # ============================================
        #   Скопировать alloy.service (Altlinux) pkg
        # ============================================

        - name: Создание alloy.service (original)
          ansible.builtin.template:
            src: alloy.service-altlinux-1.7.4.j2
            dest: "/lib/systemd/system/alloy.service"
            owner: root
            group: root
            mode: "0644"
          notify:
            - Restart Alloy Altlinux

# ================================================================
#                         Not Altlinux
# ================================================================

- name: Block for not Altlinux
  when: ansible_facts.os_family != "Altlinux"
  become: true
  block:

    # ============================================
    #               Install Alloy
    # ============================================

    - name: Создание временной папки "{{ temp_folder }}"
      ansible.builtin.file:
        path: "{{ temp_folder }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Download Alloy
      ansible.builtin.get_url:
        url: "{{ alloy_tar_url }}"
        dest: "{{ temp_folder }}/{{ alloy_tar_name }}"
        owner: root
        group: root
        mode: "0644"

    # - name: Скопировать файл alloy-linux-amd64-v1.12.1.zip в "{{ temp_folder }}"
    #   become: true
    #   ansible.builtin.copy:
    #     src: alloy-linux-amd64-v1.12.1.zip
    #     dest: "{{ temp_folder }}/{{ alloy_tar_name }}"
    #     owner: root
    #     group: root
    #     mode: "0644"

    - name: Распаковать Alloy в "{{ temp_folder }}"
      ansible.builtin.unarchive:
        src: "{{ temp_folder }}/{{ alloy_tar_name }}"
        dest: "{{ temp_folder }}"
        remote_src: true

    - name: Скопировать Alloy в "{{ alloy_install_folder }}"
      become: true
      ansible.builtin.copy:
        src: "{{ temp_folder }}/alloy-linux-amd64"
        dest: "{{ alloy_install_folder }}/alloy"
        owner: root
        group: root
        mode: "0755"
        remote_src: true
      notify:
        - Start Alloy

    # ============================================
    #              Environment Alloy
    # ============================================

    - name: Создание папку окружения Alloy "{{ alloy_environment_folder }}"
      ansible.builtin.file:
        path: "{{ alloy_environment_folder }}"
        state: directory
        owner: "{{ alloy_username }}"
        group: "{{ alloy_username }}"
        mode: "0755"

    - name: Скопировать environment file в "{{ alloy_environment_folder }}"
      ansible.builtin.template:
        src: "{{ alloy_environment_file }}.j2"
        dest: "{{ alloy_environment_folder }}/{{ alloy_environment_file }}"
        owner: "{{ alloy_username }}"
        group: "{{ alloy_username }}"
        mode: "0644"

    # ============================================
    #             Сконфигурировать Alloy
    # ============================================

    - name: Создание папку конфигурации Alloy "{{ alloy_config_folder }}"
      ansible.builtin.file:
        path: "{{ alloy_config_folder }}"
        state: directory
        owner: "{{ alloy_username }}"
        group: "{{ alloy_username }}"
        mode: "0755"

    # ============================================
    #           Рабочая директория Alloy
    # ============================================

    - name: Создание рабочую директорию Alloy "{{ alloy_working_folder }}"
      ansible.builtin.file:
        path: "{{ alloy_working_folder }}"
        state: directory
        owner: "{{ alloy_username }}"
        group: "{{ alloy_username }}"
        mode: "0755"

    # ============================================
    #   Скопировать alloy.service (Not Altlinux)
    # ============================================

    - name: Создание alloy.service (original)
      ansible.builtin.template:
        src: alloy.service-original.j2
        dest: "/etc/systemd/system/alloy.service"
        owner: root
        group: root
        mode: "0644"
      notify:
        - Restart Alloy

# ================================================================
#                    Сконфигурировать Alloy
# ================================================================

- name: Удалить папку "{{ alloy_config_folder }}"
  ansible.builtin.file:
    path: "{{ alloy_config_folder }}"
    state: absent

- name: Создать папку "{{ alloy_config_folder }}"
  ansible.builtin.file:
    path: "{{ alloy_config_folder }}"
    state: directory
    owner: "{{ alloy_username }}"
    group: "{{ alloy_username }}"
    mode: "0755"

- name: Скопировать конфигурационные файлы Alloy (Not Altlinux)
  when:
    - ansible_facts.os_family != "Altlinux"
    - alloy_components is defined
  ansible.builtin.template:
    src: "alloy-configs/{{ item }}.alloy.j2"
    dest: "{{ alloy_config_folder }}/{{ item }}.alloy"
    owner: "{{ alloy_username }}"
    group: "{{ alloy_username }}"
    mode: "0644"
    # backup: true
  loop: "{{ alloy_components }}"
  notify:
    - Restart Alloy

- name: Скопировать конфигурационные файлы Alloy (Altlinux)
  when:
    - ansible_facts.os_family == "Altlinux"
    - alloy_components is defined
  ansible.builtin.template:
    src: "alloy-configs/{{ item }}.alloy.j2"
    dest: "{{ alloy_config_folder }}/{{ item }}.alloy"
    owner: "{{ alloy_username }}"
    group: "{{ alloy_username }}"
    mode: "0644"
    # backup: true
  loop: "{{ alloy_components }}"
  notify:
    - Restart Alloy Altlinux

- name: Alloy validate
  changed_when: false
  when:
    - ansible_facts.os_family != "Altlinux"
  ansible.builtin.shell: |
    {{ alloy_install_folder }}/alloy validate {{ alloy_config_folder }}
  register: alloy_validate
