---
# tasks file for install

- name: Установка пакетов
  ansible.builtin.package:
    name:
      - nano
      - mc
      - mc
      - unzip
    state: present

- name: Установка специфических пакетов на RedHat
  when:
    - ansible_os_family == "RedHat" or ansible_os_family == "RED"
  ansible.builtin.dnf:
    name:
      - bind-utils

# - name: Установка специфических пакетов на "Ubuntu"
#   when:
#     - ansible_os_family == "Ubuntu"
#   ansible.builtin.package:
#     name:
#       - open-iscsi
#       - nfs-common
#       - apache2-utils

# - name: Установка специфических пакетов на "Altlinux"
#   when:
#     - ansible_os_family == "Altlinux"
#   ansible.builtin.package:
#     name:
#       - open-iscsi
#       - apache2-full