// ===================================================
//                 Zookeeper Metrics
// ===================================================

discovery.relabel "zookeeper_relabel_instance" {
	targets = [
		{"__address__" = "localhost:7000"},
	]

	rule {
		target_label = "instance"
		replacement  = constants.hostname
	}
}

prometheus.scrape "zookeeper" {
	targets = discovery.relabel.zookeeper_relabel_instance.output

	metrics_path    = "/metrics"
	scrape_interval = "15s"

	forward_to = [prometheus.remote_write.mimir.receiver]
}