// ===================================================
//                    Node Metrics
// ===================================================

prometheus.exporter.unix "node" { }

prometheus.scrape "node" {
	targets         = prometheus.exporter.unix.node.targets
	scrape_interval = "15s"

	forward_to = [prometheus.relabel.filter_metrics.receiver]
}

prometheus.relabel "filter_metrics" {
	rule {
		source_labels = ["__name__"]
		regex = 
		{% for m in metrics -%}
        "{{ m | regex_escape }}{% if not loop.last %}|{% endif %}"{% if not loop.last %} + 
        {% endif %}
        {%- endfor %}
		
		action        = "keep"
	}
	forward_to = [prometheus.remote_write.mimir.receiver]
}