// ===================================================
//                   Remote Write Mimir
// ===================================================

prometheus.remote_write "mimir" {
	external_labels = {
		env = "test",
		app = "angie",
	}

  	external_labels = {
{% for k in external_labels %}
    	{{ "%-10s"|format(k) }} = "{{ external_labels[k] }}",
{% endfor %}
  	}

	endpoint {
		url     = "https://mimir.fillswim.local/api/v1/push"
		headers = {
			"X-Scope-OrgID" = "fillswim",
		}

		tls_config {
			insecure_skip_verify = true
		}
	}
}