// ===================================================
//                  Remote Write Mimir
// ===================================================

prometheus.remote_write "mimir" {


  	external_labels = {
{% for k in external_labels %}
    	{{ "%-10s"|format(k) }} = "{{ external_labels[k] }}",
{% endfor %}
  	}


	endpoint {
		url     = "{{ mimir_url }}"
		headers = {
			"X-Scope-OrgID" = "{{ tenant_id }}",
		}

		tls_config {
			insecure_skip_verify = true
		}
	}
} 